:root {
  --color-primary: rgb(87, 221, 46);
  --color-secondary: #31c48d;
  --color-terciary: #2d9b0a;
  --color-background: #c9efc7;
  --color-accent--blue: rgb(67, 222, 250);
  --color-accent--blue-hover: rgb(132, 231, 248);
  --color-accent--green: #028a02;
  --color-accent--green-hover: #51b004;
  --color-accent--red: #e20d0d;
  --color-accent--red-hover: #f14545;
  --color-body: #fff;
  --color-headings: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.App {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.login,
.register {
  background-image: url("./images/Two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
}

.login__form,
.register__form {
  background-color: var(--color-primary);
  border-radius: 20px;
  margin: auto;
  padding: 30px;
  width: fit-content;
}

.logo {
  width: 100px;
}

h1 {
  font-weight: bolder;
}

.register__link {
  color: white;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.register__link:hover {
  text-decoration: underline;
}

.error {
  background: rgb(248, 211, 211);
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  font-size: 1rem;
  margin-top: 5px;
}

.success {
  background: rgb(186, 243, 177);
  border: 2px solid var(--color-accent--green-hover);
  border-radius: 5px;
  color: var(--color-accent--green);
  font-size: 1rem;
  margin: 10px 0;
}

.message {
  background: white;
  border-radius: 5px;
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 30px;
  padding: 10px;
}

.updateBtn {
  text-align: center;
}

/* Home */
.btn-green {
  align-self: center;
  border: none;
  color: var(--color-accent--green);
  background: var(--color-background);
  font-weight: bold;
  height: fit-content;
  margin-left: 10px;
  padding: 10px 25px;
}

.btn-green:hover {
  color: var(--color-headings);
  background: var(--color-secondary);
}

.home,
.orderForm {
  max-width: 1200px;
  margin: auto;
}

.home__heading,
.orderForm__heading {
  color: var(--color-accent--green);
  font-weight: bold;
  margin: 30px 0;
}

.home__options {
  border: 3px solid var(--color-accent--green-hover);
  border-radius: 10px;
  margin: 10px;
  flex: 1;
}

.home__description {
  color: var(--color-accent--green);
  font-size: large;
  font-weight: 500;
  padding: 10px;
}

.home__image {
  width: 100%;
}

.home__btn {
  margin: 0 0 10px;
}

/* OrderForm */

.orderForm__label {
  align-self: center;
  color: var(--color-headings);
  font-weight: 500;
}

.orderForm__form {
  background-color: var(--color-primary);
  box-shadow: 5px 5px 10px #888;
  border-radius: 20px;
  margin: auto;
  padding: 50px;
  max-width: 500px;
}

.orderForm__checkbox {
  text-align: left;
}

.orderForm__toppings {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.selectDiv {
  margin-bottom: 20px;
  gap: 20px;
}

.form-check-input {
  margin-right: 5px;
}

/* OrderList */

.orderList {
  max-width: 1200px;
  margin: auto;
}

.orderList__content {
  width: fit-content;
  margin: auto;
}

.orderList__description {
  background: var(--color-background);
  border-radius: 5px;
  color: var(--color-accent--green);
  font-weight: 500;
  margin: auto;
  text-align: left;
  width: fit-content;
  padding: 20px;
}

.orderTotals {
  background-color: var(--color-primary);
  border-radius: 5px;
  font-weight: bolder;
  margin: 10px auto;
  padding: 15px;
  text-align: right;
}

.total {
  background-color: white;
  border-radius: 5px;
  color: var(--color-accent--green);
  padding-top: 20px;
  font-size: larger;
}

.paddingTotals {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.btn-red {
  align-self: center;
  border: none;
  color: var(--color-headings);
  background: var(--color-accent--red-hover);
  font-weight: bold;
  height: fit-content;
  margin-left: 10px;
  padding: 10px 25px;
}

.btn-red:hover {
  color: var(--color-headings);
  background: var(--color-accent--red);
}

/* OrderConfirmation */

.orderConfirmation__content {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

/* UpdateAccount */
.updateAccount {
  max-width: 1200px;
  margin: auto;
}

.updateAccount__content {
  color: var(--color-accent--green);
  background: var(--color-background);
  border-radius: 10px;
  margin-top: 30px;
}

.updateAccount__button {
  border: none;
  color: var(--color-headings);
  background: var(--color-accent--green);
  font-weight: bold;
  height: fit-content;
  margin: 20px auto;
  padding: 10px 25px;
}

.updateAccount__button:hover {
  color: var(--color-headings);
  background: var(--color-terciary);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.updateAccount__content-left,
.updateAccount__content-right {
  flex: 1;
  padding: 20px 30px;
  text-align: left;
}

.updateAccount__content-right {
  max-height: 700px;
  overflow: auto;
}

.updateAccount__content-left {
  border-right: 1px solid var(--color-accent--green);
  text-align: center;
}

.updateAccount__heading {
  text-align: left;
}

.accountDetails {
  margin-bottom: 15px;
}

.accountDetails__label {
  align-self: center;
  flex: 1;
  text-align: left;
}

.accountDetails__input {
  flex: 4;
}

.form-control {
  border: none;
  outline: none;
  margin-top: 10px;
}

.signUpBtn {
  background: var(--color-accent--blue);
  border: none;
  color: #fff;
  font-size: larger;
  font-weight: 600;
  margin-top: 15px;
  width: 100%;
}

.signUpBtn:hover {
  color: #fff;
  background: var(--color-accent--blue-hover);
}

.loginDiv {
  width: 404px;
  margin-bottom: 20px;
  text-align: left;
  margin: 20px auto;
}
