:root {
  --color-primary: rgb(87, 221, 46);
  --color-secondary: #31c48d;
  --color-terciary: #2d9b0a;
  --color-background: #c9efc7;
  --color-accent--blue: rgb(67, 222, 250);
  --color-accent--blue-hover: rgb(132, 231, 248);
  --color-accent--green: #028a02;
  --color-accent--green-hover: #51b004;
  --color-accent--red: #e20d0d;
  --color-accent--red-hover: #f14545;
  --color-body: #fff;
  --color-headings: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-image: url("./images/Two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: auto;
}

.App {
  background-color: var(--color-primary);
  border-radius: 20px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 45px;
  padding: 30px 50px;
  text-align: center;
}

.logo {
  width: 100px;
}

h1 {
  font-weight: bolder;
}

.register__link {
  color: white;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.register__link:hover {
  text-decoration: underline;
}

.error {
  background: rgb(248, 211, 211);
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  font-size: 1rem;
  margin-top: 5px;
}

.success {
  background: rgb(186, 243, 177);
  border: 2px solid var(--color-accent--green-hover);
  border-radius: 5px;
  color: var(--color-accent--green);
  font-size: 1rem;
  margin: 10px 0;
}

.message {
  background: white;
  border-radius: 5px;
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 30px;
  padding: 10px;
}

.orderDetails {
  text-align: left;
  padding: 15px;
}

.orderTotals {
  text-align: right;
  font-weight: bolder;
  padding: 15px;
  background-color: lightblue;
}

.updateBtn {
  text-align: center;
}

label {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 5px;
}

.marginBottom {
  margin-bottom: 30px;
}

.total {
  background-color: white;
  padding-top: 20px;
  font-size: larger;
}

.paddingTotals {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.accountDetails {
  margin-bottom: 15px;
}

.flexLabel {
  flex: 1;
  margin-left: 0;
  padding-left: 0;
}

.flexInput {
  flex: 5;
  margin-left: 0;
  padding-left: 0;
}

.flexLabelLogin {
  flex: 1;
  margin-left: 0;
  padding-left: 0;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.updateAccountDiv {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.quickOptions {
  border: 2px solid lightgray;
  padding: 15px;
  margin: 10px;
  flex: 1;
}

.form-control {
  border: none;
  outline: none;
  margin-top: 10px;
}

.signUpBtn {
  background: var(--color-accent--blue);
  border: none;
  color: #fff;
  font-size: larger;
  font-weight: 600;
  margin-top: 15px;
  width: 100%;
}

.signUpBtn:hover {
  color: #fff;
  background: var(--color-accent--blue-hover);
}

.loginDiv {
  width: 404px;
  margin-bottom: 20px;
  text-align: left;
  margin: 20px auto;
}
