.App {
  text-align: center;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family:fantasy;
}

button {
  margin: 10px 20px;
} 

h2 {
  font-weight: bolder;
  margin-bottom: 15px;
}

.orderDetails {
  text-align: left;
  padding: 15px
}

.orderTotals {
  text-align: right;
  font-weight: bolder;
  padding: 15px;
  background-color:lightblue;
}

.updateBtn {
  text-align: center;
}

label {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 5px;
}

.marginBottom {
  margin-bottom: 30px;
}

.total{
  background-color: white;
  padding-top: 20px;
  font-size: larger;
}

.paddingTotals {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.loginHeader{
  align-items: baseline;
  margin-bottom: 30px;
}
.accountDetails {
  margin-bottom: 15px;
}

.flexLabel {
  flex: 1;
  margin-left: 0;
  padding-left: 0;
}

.flexInput {
  flex: 5;
  margin-left: 0;
  padding-left: 0;
}

.flexSignUpLabel {
  flex: 2;
  margin-left: 0;
  padding-left: 0;
}

.flexSignUpInput {
  flex: 5;
  margin-left: 0;
  padding-left: 0;
}

.validations{
  text-align: right;
}

.flexLabelLogin {
  flex: 1;
  margin-left: 0;
  padding-left: 0;
}

.flexInputLogin {
  flex: 3;
}

.signUpDiv{
  margin: 20px auto;
  text-align: left;
  padding: 0px 10px;
  width: 700px;
}
.selectDiv {
  display: flex;
  padding: 10px;
  text-align: left;
  width: 600px;
  margin: auto;
} 

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.textAlign {
  text-align: left;
  padding: 10px;
}

.justifyContent{
  justify-content: center;
}

.updateAccountDiv{
  flex:1;
  padding: 20px;
  text-align: left;
}

.quickOptions{
  border: 2px solid lightgray;
  padding: 15px;
  margin: 10px;
  flex:1;
}

.loginBtn{
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  width: 404px;
}

.signUpBtn {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  width: 600px;
}

.loginDiv {
  width: 404px;
  margin-bottom: 20px;
  text-align: left;
  margin: 20px auto;
}


